In [42]:
import pandas as pd
from termcolor import colored
import numpy as np
import warnings
%matplotlib inline
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor    
import statistics

In [22]:
dfDandora = pd.io.stata.read_stata(r'/Users/gopaljuneja/Desktop/Microenterprise_Kenya/113714-V1/App2017-0042_data/datasets/BDJ_Dandora_Data.dta')
dfDandora.to_csv('/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Dandora_data.csv')
pd.read_csv(r'/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Dandora_data.csv', index_col = 0)

'''* ------- APPENDIX A: FURTHER BALANCE TESTS'''
for i in range(1,8):
    print(colored("Balance Test: Wave = {}","red").format(i))
    df_waveFilter = dfDandora.loc[(dfDandora['wave'] == i)]
    groupedTreat = df_waveFilter.groupby('treat')
    '''Wave-by-wave balance tests (Tables 11 -- 17)'''
    for key, value in groupedTreat:
        print(colored('\nTreat = ' + str(key), "blue"))
        cols = value.filter(items =['profit_b', 'businessage_b', 'I_emp_b', 'emp_b2', 'credit_b', 'bankaccount_b', 'loan_b', 'formalaccount_b', 'advert_b', 'manu_b', 'retail_b', 'food_b', 'serv_b', 'treat'])
        print(cols.describe())

Balance Test: Wave = 1

Treat =2.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    114.000000     114.000000  114.000000  26.000000  114.000000
mean   10252.193359       2.421053    0.228070   0.916667    0.745614
std     9336.876953       1.682259    0.421441   0.516935    0.437438
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   0.500000    0.250000
50%     7750.000000       2.000000    0.000000   1.000000    1.000000
75%    15000.000000       4.000000    0.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     113.000000  114.000000       114.000000  114.000000  114.000000
mean        0.300885    0.149123         0.008772    0.061404    0.043860
std         0.460686    0.357782         0.093659    0.241129    0.205687
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  114.000000  114.000000  114.000000  114.0
mean     0.692982    0.140351    0.157895    2.0
std      0.463293    0.348884    0.366252    0.0
min      0.000000    0.000000    0.000000    2.0
25%      0.000000    0.000000    0.000000    2.0
50%      1.000000    0.000000    0.000000    2.0
75%      1.000000    0.000000    0.000000    2.0
max      1.000000    1.000000    1.000000    2.0

Treat =3.0
           profit_b  businessage_b    I_emp_b     emp_b2   credit_b  \
count    125.000000     125.000000  125.00000  25.000000  125.00000
mean    9783.440430       2.632000    0.20800   0.953333    0.75200
std    11109.641602       1.807404    0.40751   0.592234    0.43359
min      600.000000       0.000000    0.00000   0.500000    0.00000
25%     3000.000000       1.000000    0.00000   0.500000    1.00000
50%     6000.000000       2.000000    0.00000   1.000000    1.00000
75%    12000.000000       4.000000    0.00000   1.000000    1.00000
max    90000.000000       6.000000    1.00000   3.000000    1.00000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     125.000000  125.000000       125.000000  125.000000  125.000000
mean        0.280000    0.104000         0.008000    0.048000    0.048000
std         0.450806    0.306489         0.089443    0.214626    0.214626
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  125.000000  125.000000  125.000000  125.0
mean     0.568000    0.192000    0.232000    3.0
std      0.497348    0.395458    0.423808    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    113.000000     113.000000  113.000000  22.000000  113.000000
mean    9268.052734       2.371681    0.203540   1.174242    0.752212
std     7223.168945       1.852579    0.404424   0.643398    0.433651
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   1.000000    1.000000
50%     7500.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       4.000000    0.000000   1.000000    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     113.000000  113.000000       113.000000  113.000000  113.000000
mean        0.265487    0.088496         0.008850    0.106195    0.008850
std         0.443559    0.285279         0.094072    0.309459    0.094072
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  113.000000  113.000000  113.000000  113.0
mean     0.646018    0.123894    0.238938    4.0
std      0.480334    0.330928    0.428334    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 2

Treat =2.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    104.000000     104.000000  104.000000  25.000000  104.000000
mean    9675.000000       2.490385    0.240385   0.833333    0.740385
std     9083.311523       1.723595    0.429386   0.300463    0.440547
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     3975.000000       1.000000    0.000000   0.500000    0.000000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       4.000000    0.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   1.500000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     104.000000  104.000000       104.000000  104.000000  104.000000
mean        0.317308    0.144231         0.009615    0.048077    0.048077
std         0.467682    0.353025         0.098058    0.214965    0.214965
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  104.000000  104.000000  104.000000  104.0
mean     0.673077    0.153846    0.153846    2.0
std      0.471361    0.362548    0.362548    0.0
min      0.000000    0.000000    0.000000    2.0
25%      0.000000    0.000000    0.000000    2.0
50%      1.000000    0.000000    0.000000    2.0
75%      1.000000    0.000000    0.000000    2.0
max      1.000000    1.000000    1.000000    2.0

Treat =3.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    113.000000      113.00000  113.000000  21.000000  113.000000
mean    9355.132812        2.59292    0.194690   0.944444    0.769912
std     8734.886719        1.81579    0.397726   0.648360    0.422764
min      600.000000        0.00000    0.000000   0.500000    0.000000
25%     3000.000000        1.00000    0.000000   0.500000    1.000000
50%     6000.000000        2.00000    0.000000   0.666667    1.000000
75%    13500.000000        4.00000    0.000000   1.000000    1.000000
max    60000.000000        6.00000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     113.000000  113.000000       113.000000  113.000000  113.000000
mean        0.265487    0.106195         0.008850    0.053097    0.044248
std         0.443559    0.309459         0.094072    0.225226    0.206561
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  113.000000  113.000000  113.000000  113.0
mean     0.566372    0.194690    0.221239    3.0
std      0.497783    0.397726    0.416930    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    101.000000     101.000000  101.000000  18.000000  101.000000
mean    9161.287109       2.376238    0.188119   1.212963    0.722772
std     7337.914551       1.848521    0.392756   0.620472    0.449862
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   1.000000    0.000000
50%     7500.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       3.000000    0.000000   1.250000    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     101.000000  101.000000            101.0  101.000000  101.000000
mean        0.277228    0.079208              0.0    0.108911    0.009901
std         0.449862    0.271410              0.0    0.313081    0.099504
min         0.000000    0.000000              0.0    0.000000    0.000000
25%         0.000000    0.000000              0.0    0.000000    0.000000
50%         0.000000    0.000000              0.0    0.000000    0.000000
75%         1.000000    0.000000              0.0    0.000000    0.000000
max         1.000000    1.000000              0.0    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  101.000000  101.000000  101.000000  101.0
mean     0.693069    0.089109    0.217822    4.0
std      0.463521    0.286322    0.414824    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 3

Treat =2.0

           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    103.000000     103.000000  103.000000  27.000000  103.000000
mean    9942.718750       2.407767    0.262136   0.919753    0.728155
std     9364.415039       1.671191    0.441947   0.507151    0.447086
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   0.500000    0.000000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    13500.000000       3.500000    1.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     102.000000  103.000000       103.000000  103.000000  103.000000
mean        0.294118    0.145631         0.009709    0.067961    0.048544
std         0.457895    0.354461         0.098533    0.252910    0.215963
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b     serv_b  treat
count  103.000000  103.000000  103.00000  103.0
mean     0.699029    0.135922    0.15534    2.0
std      0.460923    0.344382    0.36400    0.0
min      0.000000    0.000000    0.00000    2.0
25%      0.000000    0.000000    0.00000    2.0
50%      1.000000    0.000000    0.00000    2.0
75%      1.000000    0.000000    0.00000    2.0
max      1.000000    1.000000    1.00000    2.0

Treat =3.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    115.000000     115.000000  115.000000  23.000000  115.000000
mean    9802.869141       2.634783    0.208696   0.971014    0.756522
std    11411.177734       1.832123    0.408155   0.610622    0.431060
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     3000.000000       1.000000    0.000000   0.500000    1.000000
50%     6000.000000       3.000000    0.000000   1.000000    1.000000
75%    12000.000000       4.000000    0.000000   1.000000    1.000000
max    90000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     115.000000  115.000000       115.000000  115.000000  115.000000
mean        0.278261    0.104348         0.008696    0.034783    0.052174
std         0.450104    0.307049         0.093250    0.184031    0.223351
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  115.000000  115.000000  115.000000  115.0
mean     0.565217    0.191304    0.217391    3.0
std      0.497898    0.395049    0.414276    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    101.000000     101.000000  101.000000  18.000000  101.000000
mean    9547.425781       2.306931    0.188119   1.268519    0.722772
std     7034.556641       1.809655    0.392756   0.769388    0.449862
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     4500.000000       1.000000    0.000000   1.000000    0.000000
50%     8000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       3.000000    0.000000   1.250000    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     101.000000  101.000000       101.000000  101.000000  101.000000
mean        0.287129    0.079208         0.009901    0.089109    0.009901
std         0.454679    0.271410         0.099504    0.286322    0.099504
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  101.000000  101.000000  101.000000  101.0
mean     0.663366    0.108911    0.237624    4.0
std      0.474915    0.313081    0.427750    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 4

Treat =2.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    107.000000     107.000000  107.000000  27.000000  107.000000
mean   10379.906250       2.383178    0.252336   0.901235    0.747664
std     9602.038086       1.713679    0.436397   0.513200    0.436397
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   0.500000    0.500000
50%     7500.000000       2.000000    0.000000   1.000000    1.000000
75%    15000.000000       4.000000    0.500000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     106.000000  107.000000       107.000000  107.000000  107.000000
mean        0.301887    0.149533         0.009346    0.065421    0.046729
std         0.461257    0.358291         0.096674    0.248430    0.212051
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  107.000000  107.000000  107.000000  107.0
mean     0.691589    0.140187    0.168224    2.0
std      0.464011    0.348815    0.375826    0.0
min      0.000000    0.000000    0.000000    2.0
25%      0.000000    0.000000    0.000000    2.0
50%      1.000000    0.000000    0.000000    2.0
75%      1.000000    0.000000    0.000000    2.0
max      1.000000    1.000000    1.000000    2.0

Treat =3.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    113.000000     113.000000  113.000000  24.000000  113.000000
mean    9452.211914       2.672566    0.221239   0.951389    0.752212
std     8612.160156       1.790064    0.416930   0.604890    0.433651
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     3000.000000       1.000000    0.000000   0.500000    1.000000
50%     8000.000000       3.000000    0.000000   1.000000    1.000000
75%    15000.000000       4.000000    0.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     113.000000  113.000000       113.000000  113.000000  113.000000
mean        0.283186    0.106195         0.008850    0.053097    0.053097
std         0.452553    0.309459         0.094072    0.225226    0.225226
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  113.000000  113.000000  113.000000  113.0
mean     0.539823    0.203540    0.230089    3.0
std      0.500632    0.404424    0.422764    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    103.000000     103.000000  103.000000  20.000000  103.000000
mean    9370.776367       2.368932    0.203883   1.291667    0.689320
std     7280.941895       1.841729    0.404853   0.713026    0.465035
min      800.000000       0.000000    0.000000   0.500000    0.000000
25%     4250.000000       1.000000    0.000000   1.000000    0.000000
50%     8000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       3.000000    0.000000   1.375000    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     103.000000  103.000000       103.000000  103.000000  103.000000
mean        0.271845    0.087379         0.009709    0.087379    0.009709
std         0.447086    0.283770         0.098533    0.283770    0.098533
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  103.000000  103.000000  103.000000  103.0
mean     0.660194    0.126214    0.223301    4.0
std      0.475959    0.333714    0.418495    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 5

Treat =2.0
           profit_b  businessage_b    I_emp_b    emp_b2   credit_b  \
count     97.000000      97.000000  97.000000  22.00000  97.000000
mean   10293.814453       2.484536   0.226804   0.94697   0.752577
std     9213.529297       1.665292   0.420940   0.54769   0.433756
min      100.000000       0.000000   0.000000   0.50000   0.000000
25%     4500.000000       1.000000   0.000000   0.50000   1.000000
50%     8000.000000       2.000000   0.000000   1.00000   1.000000
75%    15000.000000       4.000000   0.000000   1.00000   1.000000
max    60000.000000       6.000000   1.000000   3.00000   1.000000

       bankaccount_b     loan_b  formalaccount_b   advert_b     manu_b  \
count      96.000000  97.000000        97.000000  97.000000  97.000000
mean        0.312500   0.154639         0.010309   0.051546   0.041237
std         0.465946   0.363439         0.101535   0.222258   0.199871
min         0.000000   0.000000         0.000000   0.000000   0.000000
25%         0.000000   0.000000         0.000000   0.000000   0.000000
50%         0.000000   0.000000         0.000000   0.000000   0.000000
75%         1.000000   0.000000         0.000000   0.000000   0.000000
max         1.000000   1.000000         1.000000   1.000000   1.000000

        retail_b     food_b    serv_b  treat
count  97.000000  97.000000  97.00000   97.0
mean    0.701031   0.154639   0.14433    2.0
std     0.460184   0.363439   0.35325    0.0
min     0.000000   0.000000   0.00000    2.0
25%     0.000000   0.000000   0.00000    2.0
50%     1.000000   0.000000   0.00000    2.0
75%     1.000000   0.000000   0.00000    2.0
max     1.000000   1.000000   1.00000    2.0

Treat =3.0

           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    110.000000     110.000000  110.000000  23.000000  110.000000
mean    8986.818359       2.600000    0.218182   0.949275    0.745455
std     8698.635742       1.858282    0.414902   0.618394    0.437599
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     3000.000000       1.000000    0.000000   0.500000    0.250000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       4.000000    0.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     110.000000  110.000000            110.0  110.000000  110.000000
mean        0.263636    0.100000              0.0    0.045455    0.054545
std         0.442621    0.301373              0.0    0.209252    0.228130
min         0.000000    0.000000              0.0    0.000000    0.000000
25%         0.000000    0.000000              0.0    0.000000    0.000000
50%         0.000000    0.000000              0.0    0.000000    0.000000
75%         1.000000    0.000000              0.0    0.000000    0.000000
max         1.000000    1.000000              0.0    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  110.000000  110.000000  110.000000  110.0
mean     0.581818    0.172727    0.227273    3.0
std      0.495518    0.379741    0.420988    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    101.000000     101.000000  101.000000  21.000000  101.000000
mean    9167.227539       2.306931    0.217822   1.277778    0.702970
std     7328.207031       1.837077    0.414824   0.697880    0.459229
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   1.000000    0.000000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       3.000000    0.000000   1.333333    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     101.000000  101.000000       101.000000  101.000000  101.000000
mean        0.257426    0.069307         0.009901    0.108911    0.009901
std         0.439397    0.255242         0.099504    0.313081    0.099504
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  101.000000  101.000000  101.000000  101.0
mean     0.633663    0.118812    0.247525    4.0
std      0.484206    0.325181    0.433727    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 6

Treat =2.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    110.000000     110.000000  110.000000  28.000000  110.000000
mean   10253.181641       2.472727    0.254545   0.904762    0.745455
std     9431.326172       1.695699    0.437599   0.503953    0.437599
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   0.500000    0.250000
50%     6950.000000       2.000000    0.000000   1.000000    1.000000
75%    15000.000000       4.000000    0.750000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     109.000000  110.000000       110.000000  110.000000  110.000000
mean        0.311927    0.154545         0.009091    0.072727    0.045455
std         0.465420    0.363125         0.095346    0.260877    0.209252
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  110.000000  110.000000  110.000000  110.0
mean     0.700000    0.118182    0.172727    2.0
std      0.460355    0.324301    0.379741    0.0
min      0.000000    0.000000    0.000000    2.0
25%      0.000000    0.000000    0.000000    2.0
50%      1.000000    0.000000    0.000000    2.0
75%      1.000000    0.000000    0.000000    2.0
max      1.000000    1.000000    1.000000    2.0

Treat =3.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    110.000000     110.000000  110.000000  24.000000  110.000000
mean    9993.000000       2.772727    0.227273   0.951389    0.745455
std    11453.976562       1.790183    0.420988   0.604890    0.437599
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     3050.000000       1.000000    0.000000   0.500000    0.250000
50%     8000.000000       3.000000    0.000000   1.000000    1.000000
75%    14625.000000       4.000000    0.000000   1.000000    1.000000
max    90000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     110.000000  110.000000            110.0  110.000000  110.000000
mean        0.272727    0.072727              0.0    0.054545    0.054545
std         0.447400    0.260877              0.0    0.228130    0.228130
min         0.000000    0.000000              0.0    0.000000    0.000000
25%         0.000000    0.000000              0.0    0.000000    0.000000
50%         0.000000    0.000000              0.0    0.000000    0.000000
75%         1.000000    0.000000              0.0    0.000000    0.000000
max         1.000000    1.000000              0.0    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  110.000000  110.000000  110.000000  110.0
mean     0.554545    0.200000    0.236364    3.0
std      0.499291    0.401831    0.426792    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.000000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    105.000000     105.000000  105.000000  22.000000  105.000000
mean    9163.713867       2.409524    0.219048   1.242424    0.752381
std     7411.919434       1.827647    0.415585   0.700958    0.433699
min      600.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   1.000000    1.000000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       3.000000    0.000000   1.250000    1.000000
max    32000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     105.000000  105.000000       105.000000  105.000000  105.000000
mean        0.266667    0.085714         0.009524    0.114286    0.009524
std         0.444338    0.281284         0.097590    0.319684    0.097590
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  105.000000  105.000000  105.000000  105.0
mean     0.666667    0.104762    0.238095    4.0
std      0.473665    0.307715    0.427960    0.0
min      0.000000    0.000000    0.000000    4.0
25%      0.000000    0.000000    0.000000    4.0
50%      1.000000    0.000000    0.000000    4.0
75%      1.000000    0.000000    0.000000    4.0
max      1.000000    1.000000    1.000000    4.0
Balance Test: Wave = 7

Treat =2.0
           profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    101.000000     101.000000  101.000000  26.000000  101.000000
mean    9739.603516       2.435644    0.257426   0.935897    0.732673
std     9140.963867       1.681760    0.439397   0.510070    0.444772
min      100.000000       0.000000    0.000000   0.500000    0.000000
25%     4000.000000       1.000000    0.000000   0.500000    0.000000
50%     6000.000000       2.000000    0.000000   1.000000    1.000000
75%    12000.000000       4.000000    1.000000   1.000000    1.000000
max    60000.000000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     100.000000  101.000000       101.000000  101.000000  101.000000
mean        0.320000    0.158416         0.009901    0.069307    0.049505
std         0.468826    0.366952         0.099504    0.255242    0.218002
min         0.000000    0.000000         0.000000    0.000000    0.000000
25%         0.000000    0.000000         0.000000    0.000000    0.000000
50%         0.000000    0.000000         0.000000    0.000000    0.000000
75%         1.000000    0.000000         0.000000    0.000000    0.000000
max         1.000000    1.000000         1.000000    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  101.000000  101.000000  101.000000  101.0
mean     0.673267    0.138614    0.188119    2.0
std      0.471358    0.347267    0.392756    0.0
min      0.000000    0.000000    0.000000    2.0
25%      0.000000    0.000000    0.000000    2.0
50%      1.000000    0.000000    0.000000    2.0
75%      1.000000    0.000000    0.000000    2.0
max      1.000000    1.000000    1.000000    2.0

Treat =3.0
          profit_b  businessage_b     I_emp_b     emp_b2    credit_b  \
count    111.00000     111.000000  111.000000  24.000000  111.000000
mean    9896.84668       2.711712    0.225225   0.930556    0.729730
std    11470.84082       1.845818    0.419625   0.611715    0.446113
min      600.00000       0.000000    0.000000   0.500000    0.000000
25%     3000.00000       1.000000    0.000000   0.500000    0.000000
50%     7500.00000       3.000000    0.000000   0.833333    1.000000
75%    12750.00000       4.000000    0.000000   1.000000    1.000000
max    90000.00000       6.000000    1.000000   3.000000    1.000000

       bankaccount_b      loan_b  formalaccount_b    advert_b      manu_b  \
count     111.000000  111.000000            111.0  111.000000  111.000000
mean        0.270270    0.090090              0.0    0.045045    0.054054
std         0.446113    0.287609              0.0    0.208344    0.227150
min         0.000000    0.000000              0.0    0.000000    0.000000
25%         0.000000    0.000000              0.0    0.000000    0.000000
50%         0.000000    0.000000              0.0    0.000000    0.000000
75%         1.000000    0.000000              0.0    0.000000    0.000000
max         1.000000    1.000000              0.0    1.000000    1.000000

         retail_b      food_b      serv_b  treat
count  111.000000  111.000000  111.000000  111.0
mean     0.576577    0.162162    0.252252    3.0
std      0.496342    0.370271    0.436275    0.0
min      0.000000    0.000000    0.000000    3.0
25%      0.000000    0.000000    0.000000    3.0
50%      1.000000    0.000000    0.000000    3.0
75%      1.000000    0.000000    0.500000    3.0
max      1.000000    1.000000    1.000000    3.0

Treat =4.0

           profit_b  businessage_b    I_emp_b    emp_b2   credit_b  \
count     99.000000      99.000000  99.000000  21.00000  99.000000
mean    9240.302734       2.424242   0.222222   1.18254   0.737374
std     7549.793457       1.890313   0.417855   0.65808   0.442301
min      600.000000       0.000000   0.000000   0.50000   0.000000
25%     4000.000000       1.000000   0.000000   1.00000   0.000000
50%     6000.000000       2.000000   0.000000   1.00000   1.000000
75%    12000.000000       3.500000   0.000000   1.00000   1.000000
max    32000.000000       6.000000   1.000000   3.00000   1.000000

       bankaccount_b     loan_b  formalaccount_b   advert_b     manu_b  \
count      99.000000  99.000000             99.0  99.000000  99.000000
mean        0.282828   0.070707              0.0   0.121212   0.010101
std         0.452666   0.257639              0.0   0.328035   0.100504
min         0.000000   0.000000              0.0   0.000000   0.000000
25%         0.000000   0.000000              0.0   0.000000   0.000000
50%         0.000000   0.000000              0.0   0.000000   0.000000
75%         1.000000   0.000000              0.0   0.000000   0.000000
max         1.000000   1.000000              0.0   1.000000   1.000000

        retail_b     food_b     serv_b  treat
count  99.000000  99.000000  99.000000   99.0
mean    0.666667   0.080808   0.262626    4.0
std     0.473804   0.273927   0.442301    0.0
min     0.000000   0.000000   0.000000    4.0
25%     0.000000   0.000000   0.000000    4.0
50%     1.000000   0.000000   0.000000    4.0
75%     1.000000   0.000000   1.000000    4.0
max     1.000000   1.000000   1.000000    4.0

In [26]:
#Pearson product-moment correlation coefficients python
dfFilter = dfDandora.loc[(dfDandora['wave'] == 0)]
dfFilter = dfDandora.filter(items =['count','profit_b', 'businessage_b', 'I_emp_b', 'emp_b2', 'credit_b', 'bankaccount_b', 'loan_b', 'formalaccount_b', 'advert_b', 'manu_b', 'retail_b', 'food_b', 'serv_b', 'age_b', 'secondaryedu_b'])
pearsonsCoeff = np.corrcoef([dfFilter['count'], dfFilter.profit_b, dfFilter.businessage_b, dfFilter.I_emp_b, dfFilter.emp_b2, dfFilter.credit_b, dfFilter.bankaccount_b, dfFilter.loan_b, dfFilter.formalaccount_b, dfFilter.advert_b, dfFilter.manu_b, dfFilter.retail_b, dfFilter.food_b, dfFilter.serv_b, dfFilter.age_b, dfFilter.secondaryedu_b], rowvar = True)

'''Correlates with number of surveys taken'''
dataset = pd.DataFrame({'count': pearsonsCoeff[:, 0], 'profit_b': pearsonsCoeff[:, 1],'businessage_b': pearsonsCoeff[:, 2],'I_emp_b': pearsonsCoeff[:, 3],'emp_b2': pearsonsCoeff[:, 4],'credit_b': pearsonsCoeff[:, 5],'bankaccount_b': pearsonsCoeff[:, 6],'loan_b': pearsonsCoeff[:,7],'formalaccount_b': pearsonsCoeff[:, 8],'advert_b': pearsonsCoeff[:, 9],'manu_b': pearsonsCoeff[:, 10],'retail_b': pearsonsCoeff[:, 11],'food_b': pearsonsCoeff[:, 12],'serv_b': pearsonsCoeff[:, 13], 'age_b': pearsonsCoeff[:, 14], 'secondaryedu_b': pearsonsCoeff[:, 15]}, 
                        index=['count','profit_b', 'businessage_b', 'I_emp_b', 'emp_b2', 'credit_b', 'bankaccount_b', 'loan_b', 'formalaccount_b', 'advert_b', 'manu_b', 'retail_b', 'food_b', 'serv_b', 'age_b', 'secondaryedu_b'])

dataset

,count,profit_b,businessage_b,I_emp_b,emp_b2,credit_b,bankaccount_b,loan_b,formalaccount_b,advert_b,manu_b,retail_b,food_b,serv_b,age_b,secondaryedu_b
count,1.000000,0.028805,0.102631,0.045168,NaN,0.056249,NaN,-0.031907,-0.057857,-0.046123,0.111606,-0.021175,-0.090053,0.029107,NaN,0.059185
profit_b,0.028805,1.000000,0.147117,0.147095,NaN,-0.106173,NaN,0.104212,-0.041635,0.044024,0.015660,0.000327,-0.043857,0.104910,NaN,0.090610
businessage_b,0.102631,0.147117,1.000000,0.047421,NaN,-0.048867,NaN,0.149409,-0.048497,0.024766,0.080610,-0.098675,-0.088068,0.172406,NaN,0.039277
I_emp_b,0.045168,0.147095,0.047421,1.000000,NaN,-0.091969,NaN,0.046860,-0.045514,0.076947,-0.068182,-0.239123,0.028003,0.349671,NaN,0.162924
emp_b2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
credit_b,0.056249,-0.106173,-0.048867,-0.091969,NaN,1.000000,NaN,0.114759,-0.082224,-0.091619,-0.100128,0.143585,0.059877,-0.203302,NaN,-0.079180
bankaccount_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_b,-0.031907,0.104212,0.149409,0.046860,NaN,0.114759,NaN,1.000000,-0.029997,-0.026325,0.082933,0.025341,0.007610,-0.047185,NaN,0.053396
formalaccount_b,-0.057857,-0.041635,-0.048497,-0.045514,NaN,-0.082224,NaN,-0.029997,1.000000,-0.023620,-0.016436,-0.038245,0.103554,-0.044055,NaN,-0.040748
advert_b,-0.046123,0.044024,0.024766,0.076947,NaN,-0.091619,NaN,-0.026325,-0.023620,1.000000,-0.053309,0.009093,-0.094528,0.183921,NaN,0.098115
manu_b,0.111606,0.015660,0.080610,-0.068182,NaN,-0.100128,NaN,0.082933,-0.016436,-0.053309,1.000000,-0.220842,-0.080280,-0.099429,NaN,0.027953
retail_b,-0.021175,0.000327,-0.098675,-0.239123,NaN,0.143585,NaN,0.025341,-0.038245,0.009093,-0.220842,1.000000,-0.551689,-0.553241,NaN,-0.001081
food_b,-0.090053,-0.043857,-0.088068,0.028003,NaN,0.059877,NaN,0.007610,0.103554,-0.094528,-0.080280,-0.551689,1.000000,-0.178377,NaN,-0.137669
serv_b,0.029107,0.104910,0.172406,0.349671,NaN,-0.203302,NaN,-0.047185,-0.044055,0.183921,-0.099429,-0.553241,-0.178377,1.000000,NaN,0.135266
age_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
secondaryedu_b,0.059185,0.090610,0.039277,0.162924,NaN,-0.079180,NaN,0.053396,-0.040748,0.098115,0.027953,-0.001081,-0.137669,0.135266,NaN,1.000000

In [31]:
'''*--------------- APPENDIX B: Baseline Learning Methods'''

dfBaseline = pd.io.stata.read_stata(r'/Users/gopaljuneja/Desktop/Microenterprise_Kenya/113714-V1/App2017-0042_data/datasets/BDJ_Baseline_Data.dta')
dfBaseline.to_csv('/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Baseline_data.csv')
pd.read_csv(r'/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Baseline_data.csv', index_col = 0)

dfSortedBaseline = dfBaseline.sort_values(by = 'bl', ascending = True) 

    
# Loop through rows of dataframe by index i.e. from 0 to number of rows
for i in range(0, dfSortedBaseline.shape[0]-1):
   #get row contents as series and index position of row
   if(dfSortedBaseline['bl'][i] == dfSortedBaseline['bl'][i+1]):
       dfSortedBaseline = dfSortedBaseline.drop(i)
       
dfSortedBaseline.binl = dfSortedBaseline.binl.replace('.', 0)
dfSortedBaseline.binl = pd.to_numeric(dfSortedBaseline.binl)

dfSortedBaseline = dfSortedBaseline[dfSortedBaseline.bl != '.-0']
'''TBD: GRAPHS FOR APPENDIX B: Baseline Learning Methods'''

In [37]:
'''*------------------ APPENDIX C: Details of Mentor Selection'''
df_RDset = pd.io.stata.read_stata(r'/Users/gopaljuneja/Desktop/Microenterprise_Kenya/113714-V1/App2017-0042_data/datasets/RD_Dataset.dta')
df_RDset.to_csv('/Users/gopaljuneja/Desktop/Reproduced_MEK/RD_Dataset.csv')
pd.read_csv(r'/Users/gopaljuneja/Desktop/Reproduced_MEK/RD_Dataset.csv', index_col = 0)

'''Differences between mentees and non-mentees'''

for i in range(0,2):
    df_treatFilter = df_RDset.loc[(df_RDset['treat'] == i)]
    print(colored("Treat: {}".format(i), "red"))
    rd_cols = df_treatFilter.filter(items =['profit', 'businessage', 'employees', 'employeesnumber', 'credit', 'bankaccount', 'loan',  'account', 'marketing', 'age', 'secondary_edu'])
    print(rd_cols.describe(), "\n")

Treat: 0
             profit  businessage  employees  employeesnumber     credit  \
count     95.000000    95.000000  95.000000        95.000000  95.000000
mean    6883.157715    13.189474   0.157895         0.242105   0.726316
std     3167.811768     7.616185   0.366577         0.695208   0.448214
min     2800.000000     6.000000   0.000000         0.000000   0.000000
25%     5100.000000     8.000000   0.000000         0.000000   0.000000
50%     6000.000000    10.000000   0.000000         0.000000   1.000000
75%     9000.000000    15.500000   0.000000         0.000000   1.000000
max    30000.000000    50.000000   1.000000         5.000000   1.000000

       bankaccount       loan    account  marketing        age
count    95.000000  95.000000  95.000000  95.000000  95.000000
mean      0.347368   0.252632   0.084211   0.084211  43.821053
std       0.478660   0.436827   0.279177   0.279177   6.542787
min       0.000000   0.000000   0.000000   0.000000  35.000000
25%       0.000000   0.000000   0.000000   0.000000  38.000000
50%       0.000000   0.000000   0.000000   0.000000  44.000000
75%       1.000000   0.500000   0.000000   0.000000  48.000000
max       1.000000   1.000000   1.000000   1.000000  68.000000

Treat: 1
             profit  businessage  employees  employeesnumber     credit  \
count     84.000000    84.000000  84.000000        84.000000  84.000000
mean   21429.761719    13.035714   0.285714         0.642857   0.666667
std    10397.344727     5.817395   0.454467         1.860450   0.474236
min     8000.000000     6.000000   0.000000         0.000000   0.000000
25%    15000.000000     9.000000   0.000000         0.000000   0.000000
50%    18000.000000    10.500000   0.000000         0.000000   1.000000
75%    30000.000000    15.000000   1.000000         1.000000   1.000000
max    54000.000000    30.000000   1.000000        15.000000   1.000000

       bankaccount       loan    account  marketing        age
count    84.000000  84.000000  84.000000  84.000000  84.000000
mean      0.523810   0.476190   0.107143   0.047619  44.250000
std       0.502432   0.502432   0.311152   0.214238   7.000645
min       0.000000   0.000000   0.000000   0.000000  35.000000
25%       0.000000   0.000000   0.000000   0.000000  39.000000
50%       1.000000   0.000000   0.000000   0.000000  44.000000
75%       1.000000   1.000000   0.000000   0.000000  48.000000
max       1.000000   1.000000   1.000000   1.000000  76.000000

In [38]:
'''TBD: GRAPHS FOR CUTOFF DENSITY'''

'TBD: GRAPHS FOR CUTOFF DENSITY'

In [39]:
pip install py_rdpackages'''ASK ALEX WHAT TO DO WITH RDROBUST'''

Collecting py_rdpackages
  Using cached https://files.pythonhosted.org/packages/f5/73/bd4a952735dcb61de4b9e8293eb15e95a0f75c9efc8e6ac7b3a8405047fe/py_rdpackages-0.0.2-py3-none-any.whl
Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/70/bd/5e6bf595fe6ee0f257ae49336dd180768c1ed3d7c7155b2fdf894c1c808a/seaborn-0.10.0-py3-none-any.whl (215kB)
     |████████████████████████████████| 225kB 2.4MB/s eta 0:00:01
ERROR: Could not find a version that satisfies the requirement statsmodelspatsy (from py_rdpackages) (from versions: none)
ERROR: No matching distribution found for statsmodelspatsy (from py_rdpackages)
Note: you may need to restart the kernel to use updated packages.

In [46]:
'''*------------------ APPENDIX D: More results'''
'''*------------------ D1. Table 21, column 3'''
dfDandora = pd.io.stata.read_stata(r'/Users/gopaljuneja/Desktop/Microenterprise_Kenya/113714-V1/App2017-0042_data/datasets/BDJ_Dandora_Data.dta')
dfDandora.to_csv('/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Dandora_data.csv')
pd.read_csv(r'/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Dandora_data.csv', index_col = 0)

def filter_by(df, constraints):
    """Filter MultiIndex by sublevels."""
    indexer = [constraints[name] if name in constraints else slice(None)
               for name in df.index.names]
    return df.loc[tuple(indexer)] if len(df.shape) == 1 else df.loc[tuple(indexer),]

pd.Series.filter_by = filter_by
pd.DataFrame.filter_by = filter_by

dfDandora_copy = dfDandora.copy()
dfDandora_copy = dfDandora.set_index(['id', 'wave'])

In [48]:
# Describe 'sec0_b', 'sec1_b', 'sec2_b', 'sec3_b', 'sec4_b'
dffilterW = dfDandora_copy.filter_by({'wave' : [0]})
Fcols0 = dffilterW.filter(items =['sec0_b', 'sec1_b', 'sec2_b', 'sec3_b', 'sec4_b'])
print(Fcols0.describe())

           sec0_b      sec1_b      sec2_b      sec3_b      sec4_b
count  372.000000  372.000000  372.000000  372.000000  372.000000
mean     0.637097    0.032258    0.206989    0.155914    0.002688
std      0.481485    0.176923    0.405693    0.363262    0.051848
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      1.000000    0.000000    0.000000    0.000000    0.000000
75%      1.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [49]:
# Describe 'sec0_*'
dffilterW = dfDandora_copy.filter_by({'wave' : [0]})
Fcols1 = dffilterW.filter(items =['sec0_b','sec0_0','sec0_1', 'sec0_2', 'sec0_3','sec0_4', 'sec0_5', 'sec0_6', 'sec0_7', 'sec0_8', 'sec0_9', 'sec0_10'])
print(Fcols1.describe())

           sec0_b      sec0_0      sec0_1      sec0_2      sec0_3      sec0_4  \
count  372.000000  226.000000  226.000000  226.000000  226.000000  226.000000
mean     0.637097    0.318584    0.004425    0.283186    0.172566    0.141593
std      0.481485    0.466962    0.066519    0.451546    0.378711    0.349406
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      1.000000    1.000000    0.000000    1.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           sec0_5  sec0_6      sec0_7      sec0_8      sec0_9     sec0_10
count  226.000000   226.0  226.000000  226.000000  226.000000  226.000000
mean     0.039823     0.0    0.017699    0.004425    0.026549    0.075221
std      0.195977     0.0    0.132148    0.066519    0.161117    0.264333
min      0.000000     0.0    0.000000    0.000000    0.000000    0.000000
25%      0.000000     0.0    0.000000    0.000000    0.000000    0.000000
50%      0.000000     0.0    0.000000    0.000000    0.000000    0.000000
75%      0.000000     0.0    0.000000    0.000000    0.000000    0.000000
max      1.000000     0.0    1.000000    1.000000    1.000000    1.000000

In [50]:
# Describe 'sec1_*'
dffilterW = dfDandora_copy.filter_by({'wave' : [0]})
Fcols2 = dffilterW.filter(items =['sec1_b','sec1_1','sec1_2', 'sec1_3', 'sec1_4','sec1_5', 'sec1_6'])
print(Fcols2.describe())

           sec1_b  sec1_1  sec1_2     sec1_3  sec1_4     sec1_5     sec1_6
count  372.000000    11.0    11.0  11.000000    11.0  11.000000  11.000000
mean     0.032258     0.0     0.0   0.090909     0.0   0.545455   0.363636
std      0.176923     0.0     0.0   0.301511     0.0   0.522233   0.504525
min      0.000000     0.0     0.0   0.000000     0.0   0.000000   0.000000
25%      0.000000     0.0     0.0   0.000000     0.0   0.000000   0.000000
50%      0.000000     0.0     0.0   0.000000     0.0   1.000000   0.000000
75%      0.000000     0.0     0.0   0.000000     0.0   1.000000   1.000000
max      1.000000     0.0     0.0   1.000000     0.0   1.000000   1.000000

In [51]:
# Describe 'sec2_*'
dffilterW = dfDandora_copy.filter_by({'wave' : [0]})
Fcols3 = dffilterW.filter(items =['sec2_b','sec2_1','sec2_2', 'sec2_3', 'sec2_4','sec2_5', 'sec2_6', 'sec2_7'])
print(Fcols3.describe())

           sec2_b  sec2_1     sec2_2  sec2_3  sec2_4     sec2_5     sec2_6  \
count  372.000000    65.0  65.000000    65.0    65.0  65.000000  65.000000
mean     0.206989     0.0   0.523077     0.0     0.0   0.015385   0.015385
std      0.405693     0.0   0.503354     0.0     0.0   0.124035   0.124035
min      0.000000     0.0   0.000000     0.0     0.0   0.000000   0.000000
25%      0.000000     0.0   0.000000     0.0     0.0   0.000000   0.000000
50%      0.000000     0.0   1.000000     0.0     0.0   0.000000   0.000000
75%      0.000000     0.0   1.000000     0.0     0.0   0.000000   0.000000
max      1.000000     0.0   1.000000     0.0     0.0   1.000000   1.000000

          sec2_7
count  65.000000
mean    0.123077
std     0.331082
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

In [52]:
# Describe 'sec3_*'
dffilterW = dfDandora_copy.filter_by({'wave' : [0]})
Fcols4 = dffilterW.filter(items =['sec3_b','sec3_1','sec3_2', 'sec3_3', 'sec3_4','sec3_5', 'sec3_6', 'sec3_7'])
print(Fcols4.describe())

           sec3_b     sec3_1     sec3_2     sec3_3  sec3_4  sec3_5     sec3_6  \
count  372.000000  56.000000  56.000000  56.000000    56.0    56.0  56.000000
mean     0.155914   0.357143   0.107143   0.125000     0.0     0.0   0.017857
std      0.363262   0.483494   0.312094   0.333712     0.0     0.0   0.133631
min      0.000000   0.000000   0.000000   0.000000     0.0     0.0   0.000000
25%      0.000000   0.000000   0.000000   0.000000     0.0     0.0   0.000000
50%      0.000000   0.000000   0.000000   0.000000     0.0     0.0   0.000000
75%      0.000000   1.000000   0.000000   0.000000     0.0     0.0   0.000000
max      1.000000   1.000000   1.000000   1.000000     0.0     0.0   1.000000

       sec3_7
count    56.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0

In [53]:
'''*------------------ D1. Table 21, column 2'''

dfBaseline = pd.io.stata.read_stata(r'/Users/gopaljuneja/Desktop/Microenterprise_Kenya/113714-V1/App2017-0042_data/datasets/BDJ_Baseline_Data.dta')
dfBaseline.to_csv('/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Baseline_data.csv')
pd.read_csv(r'/Users/gopaljuneja/Desktop/Reproduced_MEK/BDJ_Baseline_data.csv', index_col = 0)

,age,businessage,bankaccount,credit,employees,employeesnumber,loan,gender,lprofit,tprofit,...,bf,avg_profit_agegen,binl,bl,avg_I_emp_learn,lavg_profit_learn,lavg_wagebill_learn,secondaryedu,marketing,account
0,50.0,15.0,1.0,1.0,0.0,0.0,0.0,NaN,9.903487,20000.0,...,NaN,25000.000,.,.-0,0.000000,10.126631,NaN,1.0,0.0,0.0
1,32.0,10.0,1.0,0.0,0.0,0.0,1.0,NaN,10.308952,30000.0,...,NaN,25000.000,.,.-0,0.000000,10.126631,NaN,1.0,0.0,0.0
2,21.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN,...,1-0,15480.303,1,1-0,0.179558,9.482376,7.202032,1.0,0.0,1.0
3,25.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,7.377759,1600.0,...,1-1,9295.809,1,1-0,0.179558,9.482376,7.202032,1.0,0.0,0.0
4,23.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.104980,9000.0,...,1-0,15480.303,1,1-0,0.179558,9.482376,7.202032,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3287,51.0,16.0,1.0,1.0,1.0,1.0,0.0,0.0,7.313220,1500.0,...,5-0,22879.365,5,5-1,0.128205,9.633078,6.384026,1.0,0.0,0.0
3288,38.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,9.615806,15000.0,...,5-1,17003.174,5,5-1,0.128205,9.633078,6.384026,1.0,0.0,0.0
3289,40.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,9.104980,9000.0,...,5-0,22879.365,5,5-1,0.128205,9.633078,6.384026,0.0,0.0,0.0
3290,48.0,18.0,1.0,0.0,0.0,0.0,1.0,1.0,8.294049,4000.0,...,5-1,17003.174,5,5-1,0.128205,9.633078,6.384026,0.0,0.0,0.0
3291,33.0,25.0,0.0,0.0,0.0,0.0,0.0,1.0,8.699514,6000.0,...,6-1,18034.092,5,5-1,0.128205,9.633078,6.384026,0.0,0.0,0.0

In [55]:
#Describe sec0, sec1, sec2, sec3
baselinecols1 = dfBaseline.filter(items =['sec0','sec1','sec2', 'sec3'])
print(baselinecols1.describe())

              sec0         sec1         sec2         sec3
count  3292.000000  3292.000000  3292.000000  3292.000000
mean      0.588700     0.063487     0.249392     0.143985
std       0.492144     0.243874     0.432727     0.351128
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000

In [56]:
#Describe sec0*
baselinecols2 = dfBaseline.filter(items =['sec0_0','sec0_1','sec0_2', 'sec0_3','sec0_4','sec0_5','sec0_6','sec0_7','sec0_8','sec0_9','sec0_10'])
print(baselinecols2.describe())

            sec0_0       sec0_1       sec0_2       sec0_3       sec0_4  \
count  1802.000000  1802.000000  1802.000000  1802.000000  1802.000000
mean      0.216981     0.024417     0.301332     0.191454     0.192009
std       0.412304     0.154384     0.458964     0.393555     0.393989
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     1.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

            sec0_5       sec0_6       sec0_7       sec0_8       sec0_9  \
count  1802.000000  1802.000000  1802.000000  1802.000000  1802.000000
mean      0.024972     0.001110     0.008324     0.003330     0.039401
std       0.156084     0.033306     0.090881     0.057623     0.194600
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

           sec0_10
count  1802.000000
mean      0.115982
std       0.320293
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [58]:
#Describe sec1*
baselinecols3 = dfBaseline.filter(items =['sec1_b','sec1_1','sec1_2', 'sec1_3', 'sec1_4','sec1_5', 'sec1_6'])
print(baselinecols3.describe())

           sec1_1      sec1_2      sec1_3      sec1_4      sec1_5      sec1_6
count  178.000000  178.000000  178.000000  178.000000  178.000000  178.000000
mean     0.213483    0.011236    0.028090    0.095506    0.410112    0.241573
std      0.410922    0.105700    0.165696    0.294741    0.493241    0.429244
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    1.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [59]:
#Describe sec2*
baselinecols4 = dfBaseline.filter(items =['sec2_b','sec2_1','sec2_2', 'sec2_3', 'sec2_4','sec2_5', 'sec2_6', 'sec2_7'])
print(baselinecols4.describe())

           sec2_1      sec2_2      sec2_3      sec2_4      sec2_5      sec2_6  \
count  699.000000  699.000000  699.000000  699.000000  699.000000  699.000000
mean     0.028612    0.416309    0.010014    0.014306    0.028612    0.037196
std      0.166834    0.493299    0.099640    0.118835    0.166834    0.189377
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    1.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           sec2_7
count  699.000000
mean     0.253219
std      0.435167
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [60]:
#Describe sec3*
baselinecols5 = dfBaseline.filter(items =['sec3_b','sec3_1','sec3_2', 'sec3_3', 'sec3_4','sec3_5', 'sec3_6', 'sec3_7'])
print(baselinecols5.describe())

           sec3_1      sec3_2      sec3_3      sec3_4      sec3_5      sec3_6  \
count  461.000000  461.000000  461.000000  461.000000  461.000000  461.000000
mean     0.403471    0.134490    0.154013    0.049892    0.008677    0.028200
std      0.491127    0.341549    0.361353    0.217957    0.092845    0.165722
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

           sec3_7
count  461.000000
mean     0.010846
std      0.103690
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000

In [65]:
#Describe gender if sec0 == 1
dfsecFilter = dfBaseline.loc[(dfBaseline['sec0'] == 1)]
baselinecols6 = dfsecFilter.filter(items =['gender'])
print(baselinecols6.describe())

            gender
count  1936.000000
mean      0.698864
std       0.458870
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [66]:
#Describe gender if sec1 == 1
dfsecFilter = dfBaseline.loc[(dfBaseline['sec1'] == 1)]
baselinecols7 = dfsecFilter.filter(items =['gender'])
print(baselinecols7.describe())

           gender
count  209.000000
mean     0.483254
std      0.500919
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [67]:
#Describe gender if sec2 == 1
dfsecFilter = dfBaseline.loc[(dfBaseline['sec2'] == 1)]
baselinecols8 = dfsecFilter.filter(items =['gender'])
print(baselinecols8.describe())

           gender
count  821.000000
mean     0.562728
std      0.496352
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [68]:
#Describe gender if sec2 == 2
dfsecFilter = dfBaseline.loc[(dfBaseline['sec2'] == 1)]
baselinecols8 = dfsecFilter.filter(items =['gender'])
print(baselinecols8.describe())

           gender
count  821.000000
mean     0.562728
std      0.496352
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [69]:
#Describe gender if sec3 == 1
dfsecFilter = dfBaseline.loc[(dfBaseline['sec3'] == 1)]
baselinecols9 = dfsecFilter.filter(items =['gender'])
print(baselinecols9.describe())

           gender
count  474.000000
mean     0.725738
std      0.446613
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [76]:
for i in range(0,11):
    dfsecFilter = dfBaseline.loc[(dfBaseline['sec0_{}'.format(i)] == 1)]
    baselinecolsX = dfsecFilter.filter(items =['gender'])
    print(colored("\nGender under sec0_{}".format(i), "red"))
    print(baselinecolsX.describe(),"\n")

Gender under sec0_0
           gender
count  391.000000
mean     0.744246
std      0.436843
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec0_1
          gender
count  44.000000
mean    0.272727
std     0.450511
min     0.000000
25%     0.000000
50%     0.000000
75%     1.000000
max     1.000000


Gender under sec0_2
           gender
count  542.000000
mean     0.843173
std      0.363973
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec0_3
           gender
count  343.000000
mean     0.653061
std      0.476691
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec0_4
          gender
count  345.00000
mean     0.62029
std      0.48602
min      0.00000
25%      0.00000
50%      1.00000
75%      1.00000
max      1.00000


Gender under sec0_5
          gender
count  45.000000
mean    0.644444
std     0.484090
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_6
       gender
count     2.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0


Gender under sec0_7
          gender
count  15.000000
mean    0.600000
std     0.507093
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_8
         gender
count  6.000000
mean   0.500000
std    0.547723
min    0.000000
25%    0.000000
50%    0.500000
75%    1.000000
max    1.000000


Gender under sec0_9
          gender
count  71.000000
mean    0.563380
std     0.499497
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_10
           gender
count  209.000000
mean     0.569378
std      0.496352
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [79]:
'''Within each sector--Production'''
for i in range(0,7):
    dfsecFilter = dfBaseline.loc[(dfBaseline['sec2_{}'.format(i)] == 1)]
    baselinecolsX = dfsecFilter.filter(items =['gender'])
    print(colored("\nGender under sec2_{}".format(i+1), "red"))
    print(baselinecolsX.describe(),"\n")

Gender under sec2_1
           gender
count  147.000000
mean     0.755102
std      0.431497
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec2_2
       gender
count    20.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0


Gender under sec2_3
           gender
count  291.000000
mean     0.731959
std      0.443702
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec2_4
         gender
count  7.000000
mean   0.142857
std    0.377964
min    0.000000
25%    0.000000
50%    0.000000
75%    0.000000
max    1.000000


Gender under sec2_5
       gender
count    10.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0


Gender under sec2_6
          gender
count  20.000000
mean    0.550000
std     0.510418
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec2_7
          gender
count  26.000000
mean    0.230769
std     0.429669
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

In [80]:
for i in range(0,8):
    dfsecFilter = dfBaseline.loc[(dfBaseline['sec3_{}'.format(i)] == 1)]
    baselinecolsX = dfsecFilter.filter(items =['gender'])
    print(colored("\nGender under sec0_{}".format(i+1), "red"))
    print(baselinecolsX.describe(),"\n")

Gender under sec0_1
           gender
count  153.000000
mean     0.771242
std      0.421413
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec0_2
           gender
count  186.000000
mean     0.688172
std      0.464490
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000


Gender under sec0_3
          gender
count  62.000000
mean    0.580645
std     0.497482
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_4
          gender
count  71.000000
mean    0.788732
std     0.411113
min     0.000000
25%     1.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_5
          gender
count  23.000000
mean    0.565217
std     0.506870
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_6
        gender
count  4.00000
mean   0.50000
std    0.57735
min    0.00000
25%    0.00000
50%    0.50000
75%    1.00000
max    1.00000


Gender under sec0_7
          gender
count  13.000000
mean    0.615385
std     0.506370
min     0.000000
25%     0.000000
50%     1.000000
75%     1.000000
max     1.000000


Gender under sec0_8
         gender
count  5.000000
mean   0.600000
std    0.547723
min    0.000000
25%    0.000000
50%    1.000000
75%    1.000000
max    1.000000

In [ ]:
'''*-----------------D2. '''